<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>TPanel</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/TPanel.appiconset</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
		<key>UIImageName</key>
		<string>LaunchImage-iOS7-568h@2x.png</string>
	</dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 to 2024 by Andreas Theofilu &lt;andreas@theosys.at&gt;</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>tpanel</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>TPanel</string>
	<key>CFBundleExecutable</key>
	<string>tpanel</string>
	<key>CFBundleIdentifier</key>
	<string>org.qtproject.tpanel</string>
	<key>CFBundleName</key>
	<string>iTPanel</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>${IPHONEOS_DEPLOYMENT_TARGET}</string>
	<key>NOTE</key>
	<string>This file was generated by Qt/CMake.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>TPanel needs network access to connect to a controler (NetLinx). Also for intercom and SIP network connection is necessary.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The locations are only used to keep the application running in the background. The location information is never used nor send to any server.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>The locations are only used to keep the application running in the background. The location information is never used nor send to any server.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access is needed for intercom and SIP. Intercom is the possibility to establish a connection to another instance of TPanel on another device. Then the microphone is redirected to the other device and also the other way around like a phone. SIP (Session Initiation Protocol) is a standard way for VOIP (Voice Over IP). TPanel supports this protocol and needs access to the microphone to let the user talk to another SIP device.</string>
	<key>NSCameraUsageDescription</key>
	<string>TPanel is using the Qt framework and this framework has support for the camera. TPanel does not use the camera at all! Therefore you can safely deny access.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>external-accessory</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>location</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>location-services</string>
		<string>magnetometer</string>
		<string>gps</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
